@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


/* about */

.about_section {
  padding: 50px 0;
  padding-top: 130px;
  background-color: #f4f4f4;
}

.about_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.about_section .img-box img {
  width: 100%;
  border-radius: 15px;
}

.about_section .img-box {
  transform: translateX(-170%);
  animation: img-animi 1s ease-in-out forwards;
}

@keyframes img-animi {
  100% {
    transform: translate(0);
  }
}

.about_section .detail-box h3 {
  font-weight: bold;
  color: #505050;
}

.about_section .detail-box p {
  margin-top: 15px;
  color: #5c5c5c;
  text-align: justify;

}

.about_section .detail-box {
  transform: translateX(170%);
  animation: img-animi 1s ease-in-out forwards;
}

@keyframes img-animi {
  100% {
    transform: translate(0);
  }
}

.about_section .detail-box a {
  display: inline-block;
  color: orangered;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 8px;
}

.about_section .detail-box a:hover {
  color: orange;
  transform: scale(1.02);
}


/* code for the below image */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1200px;
    padding: 20px;
}

h1, p {
    text-align: center;
}

.responsive-image {
    display: block;
    max-height: 50vh; 
    height: auto;
}

@media (max-width: 600px) {
    .responsive-image {
        width: 95%;
        max-height: 30vh; 
    }
}








/* adding header and foooter */

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background: black;
    color: #fff;
    /* box-shadow: 5px 5px 10px #797979; */
    z-index: 1;
    opacity: 0.9;
  }
  
  header span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  
  header .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .navbar a {
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 15px;
    color: white;
    letter-spacing: 1.3px;
  }
  
  header .navbar a:hover,
  .active {
    color: #da500c;
    transition: 0.6s;
  }
  
  header .btn {
    font-size: 25px;
    cursor: pointer;
    display: none;
  }




















  /* Required Form Start Here */

  .Requirement_form_div,
  .Requirement_form_div-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Requirement_form_div-header h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
}

.Requirement_form_header-line {
  background-color: #da500c;
  margin-top: 1.5%;
  width: 200px;
  height: 3px;
}

.Requirement_form_div p {
  font-size: 1.3rem;
  color: #666;
  font-weight: 400;
  margin-top: 1.2%;
  letter-spacing: 1px;
}

/* main_requirement_form */

.main_requirement_form {
  display: flex;
  margin-top: 3%;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

/* main_requirement_form and Form */

.main_requirement_form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 900px;
  box-shadow: 0 0 30px #666;
  margin: 0px auto;
  padding: 3%;
}

/* Form inputs and textarea */
.main_requirement_form form input,
select {
  width: 100%;
  margin-top: 25px;
  font-size: 1.1rem;
  padding: 1.3% 2%;
  border: 1px solid black;
  font-weight: 500;
  color: black;
  background-color: white;
  border-radius: 7px;
  letter-spacing: 1px;
}

#form-textarea {
  width: 100%;
  margin-top: 25px;
  padding: 1.3% 2%;
  font-size: 1.1rem;
  border: 1px solid black;
  font-weight: 500;
  color: black;
  background-color: white;
  border-radius: 7px;
  letter-spacing: 1px;
}

/*  main_requirement_form button */
.main_requirement_form form button {
  font-size: 1.5rem;
  padding: 1.5%;
  border-radius: 10px;
  background-color: #da500c;
  font-weight: 500;
  margin-top: 30px;
  color: white;
  letter-spacing: 1px;
  width: 25%;
}



/* Required Form Media quire */

@media only screen and (min-width: 320px) and (max-width: 425px) {

  header img{
    width: 50px;
    height:40px;
}

header span{
    font-size: 1rem;
}
.Requirement_form_header-div h2{
    font-size: 1.5rem;
    font-weight: 400;
}

.Requirement_form_header p{
    font-size: 1rem;
    width: 300px;
    margin: 0px auto ;
}

  .Requirement_form_div-header h2 {
    font-size: 1.5rem;
  }

  .Requirement_form_header-line {
    margin-top: 5%;
    width: 150px;
  }

  .Requirement_form_div p {
    font-size: 1.1rem;
    width: 300px;
    margin-top: 6%;
  }

  .main_requirement_form form {
    width: 90%;
    height: 900px;
    margin-top: 8%;
  }

  .main_requirement_form form input,
  select,
  #form-textarea {
    padding: 3% 4%;
    font-size: 1rem;
    width: 70%;
  }

  .form-textarea:hover {
    border: 1px solid #da500c;
  }

  

  .main_requirement_form form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 700px;
    box-shadow: 0 0 30px #666;
    margin: 30px auto;
    padding: 3%;
}

.main_requirement_form form input,select,#form-textarea {
    width: 80%;
    margin-top: 25px;
    font-size: 1rem;
    padding: 1.3% 2%;
    border: 1px solid black;
    font-weight: 200;
    color: black;
    background-color: white;
    border-radius: 7px;
    letter-spacing: 0.5px;
}


.main_requirement_form form button {
  width: 45%;
  font-size: 1.1rem;
}
}


@media only screen and (min-width: 426px) and (max-width: 600px) {




  .Requirement_form_div-header h2 {
    font-size: 1.6rem;
  }

  .Requirement_form_header-line {
    width: 175px;
  }

  .Requirement_form_div p {
        width: 370px;
        font-size: 1rem;
        margin-top: 5%;
  }


  .main_requirement_form form {
    width: 85%;
    height: 800px;
  }


  .main_requirement_form form input, select,#form-textarea{
    font-size: 1rem;
        padding: 2.5% 5%;
        width: 85%;
  }

  .main_requirement_form form button {
    font-size: 1.2rem;
    width: 35%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px){




  .Requirement_form_div p{
    width: 80%;
    margin-top: 3%;
  }
  .main_requirement_form form {
    width: 90%;
        height: 820px;
  }


  .main_requirement_form form input, select,#form-textarea {
    width: 88%;
    font-size: 1rem;
    padding: 1.7% 2%;
  }

  .main_requirement_form form button{
    font-size: 1.2rem;
        width: 25%;
        padding: 1.2%;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
  .Requirement_form_div p {
    width: 89%;
    margin-top: 3%;
  }

  .main_requirement_form form{
    width: 89%;
    height: 865px;
  }

  .main_requirement_form form input, select,#form-textarea {
    width: 90%;
    font-size: 17px;
    padding: 1.5% 3%;
}


.main_requirement_form form button {
  font-size: 17px;
        width: 20%;
        padding: 1% 2%;
}
}


@media only screen and (min-width: 1024px) and (max-width: 1440px){
  .Requirement_form_div p{
    width: 70%;
  }

  .main_requirement_form form {
    width: 75%;
        height: 950px;
  }

  .main_requirement_form form input, select,#form-textarea{
    font-size: 17px;
        padding: 1.8% 2%;
        width: 90%;
  }

  .main_requirement_form form button{
    font-size: 1.1rem;
    width: 20%;
    padding: 1.1% 3%;
  }
}


  
















































































































  
  
  /* Footer Start */
  
  
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    color: white;
  }
  
  .container h2 {
    font-size: 5rem;
    color: #ddd;
    text-align: center;
    padding-bottom: 10rem;
  }
  
  footer {
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    background-color: black;
    color: white;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }
  
  footer a {
    text-decoration: none;
    /* color: #1c2833; */
    color: white;
  }
  
  footer a:hover {
    color: #da600c;
    transition: 0.6s;
  }
  
  .footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;
    grid-gap: 2.5rem;
  }
  
  .footer_headings {
    /* color: #000;
       */
    padding-bottom: 2rem;
    position: relative;
  }
  
  .footer_headings::after {
    content: "";
    height: 3px;
    background: #e74c3c;
    width: 25%;
    position: absolute;
    top: 30px;
    left: 0px;
  }
  
  #footer_headings-logo {
    display: flex;
    align-items: center;
  }
  
  .first_section img {
    display: block;
    object-fit: cover;
    width: 70px;
  }
  
  #footer_headings-logo span {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .first_section p {
    padding: 1.5rem 0;
    text-align: justify;
    color: #DDDDDD;
  }
  
  .social_icons {
    display: flex;
    justify-content: space-between;
  }
  
  .social_icons i {
    font-size: 1.5rem;
    cursor: pointer;
    background: #ddd;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    color: #1c2833;
  }
  
  .social_icons i:hover {
    transform: translateY(-5px);
  }
  
  /* second sections */
  .second_section ul {
    list-style: none;
  }
  
  .second_section ul li {
    margin: 2rem 0;
  }
  
  .second_section ul li:first-child {
    margin-top: 0;
  }
  
  /* third section */
  .third_section ul {
    list-style: none;
  }
  
  .third_section ul li {
    margin: 1rem 0;
    display: flex;
  }
  
  .third_section ul li:first-child {
    margin-top: 0px;
  }
  
  .third_section ul li i {
    margin-right: 15px;
    background: #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .third_section span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* fourth section */
  .form_control input,
  textarea {
    outline: none;
    border: none;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .fourth_section button {
    display: block;
    width: 100%;
    outline: none;
    background: #e74c3c;
    border: none;
    color: #fff;
    padding: 0.6rem 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .footer_txt {
    padding: 1.1rem 0;
    text-align: center;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }
  
  
  
  @media (max-width: 991px) {
    header {
      padding: 1rem 2rem;
    }
  }
  
  @media (max-width: 768px) {
    header {
      padding: 0px 5%;
    }
  
    header .btn {
      display: block;
      color: white;
    }
  
    header .navbar {
      position: fixed;
      flex-direction: column;
      min-width: 300px;
      height: 100vh;
      background: black;
      top: 0;
      right: -100%;
      transition: all 0.9s;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 10rem;
    }
  
    header .navbar.active2 {
      right: 0;
      transition: 0.9s;
    }
  
    header .navbar .close-btn {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .navbar a {
      display: block;
      font-size: 1.3rem;
      margin: 15px 15px;
      padding: 0.5rem 15px;
    }
  
    header .navbar a:hover {
      background: #21293a;
      color: #fff;
    }
  
    header .logo {
      font-size: 25px;
      font-weight: 500;
    }
  }
  
  
  /* Footer Start */
  
  @media (max-width: 768px) {
    /* body {
        min-height: 50vh;
      } */
  
    .footer_content {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;
      padding: 3rem 0;
    }
  
    .social_icons i {
      font-size: 1.3rem;
      width: 45px;
      height: 45px;
    }
  
    /* footer {
        position: absolute;
        top: 50%;
      } */
  
    .container h2 {
      font-size: 4rem;
      padding-bottom: 5rem;
    }
  }
  
  @media (max-width: 568px) {
    .footer_content {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
      padding: 2.5rem 0;
    }
  
    .container h2 {
      font-size: 3rem;
      padding-bottom: 4rem;
    }
  
    .social_icons i {
      font-size: 1rem;
      width: 35px;
      height: 35px;
    }
  
    /* footer {
        position: absolute;
        top: 30%;
      } */
  }